<p>{{message}}</p>
<ol>
    <li>ID: {{prod._id}}</li>
    <ul>
        <li>Name: {{prod.prod_name}}</li>
        <li>Brand:{{prodList.prod_brand}}</li>
        <li>Price:{{prodList.prod_price}}</li>
        <li>Screen Size:{{prodList.prod_screensize}}</li>
        <li>RAM:{{prodList.prod_ram}}</li>
        <li>Processor:{{prodList.prod_processor}}</li>
        <li>HDD: {{prodList.prod_hard_disk_size}}</li>
        <li>Rating: {{prodList.prod_rating}}</li>
        <li>Sold: {{prodList.sold}}</li>
    </ul>
</ol>